/* Desktop - 1 */

position: relative;
width: 1920px;
height: 1322px;

background: #FFFFFF;


/* Rectangle 1 */

position: absolute;
width: 1550px;
height: 146px;
left: 370px;
top: 0px;

background: #4F3267;
border-radius: 5px;


/* Admin | Profile */

position: absolute;
width: 163px;
height: 28px;
left: 1620px;
top: 58px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 28px;
/* identical to box height */

color: #FFFFFF;



/* Rectangle 2 */

position: absolute;
width: 1550px;
height: 250px;
left: 370px;
top: 130px;

background: #9D78BE;
border-radius: 0px 0px 8px 8px;


/* Selamat Datang */

position: absolute;
width: 365px;
height: 58px;
left: 543px;
top: 226px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 58px;
/* identical to box height */

color: #FFFFFF;



/* Admin Balitbu */

position: absolute;
width: 133px;
height: 24px;
left: 543px;
top: 305px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Google Pixel 2 - 5 */

position: absolute;
width: 370px;
height: 1310px;
left: 0px;
top: -10px;

background: #F3E3EC;


/* Penyakit */

position: absolute;
width: 102px;
height: 29px;
left: 45px;
top: 162px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* logout */

position: absolute;
width: 76px;
height: 29px;
left: 69px;
top: 1204px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* penanganan */

position: absolute;
width: 148px;
height: 30px;
left: 35px;
top: 261px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #808080;



/* gelaja */

position: absolute;
width: 72px;
height: 30px;
left: 36px;
top: 361px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #808080;



/* tingkat gejala */

position: absolute;
width: 161px;
height: 30px;
left: 36px;
top: 411px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #808080;



/* Daftar */

position: absolute;
width: 75px;
height: 30px;
left: 36px;
top: 211px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #808080;



/* Penyebab */

position: absolute;
width: 119px;
height: 30px;
left: 36px;
top: 311px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #808080;



/* logout 1 */

position: absolute;
width: 20px;
height: 20.65px;
left: 16px;
top: 1208px;

background: url(logout.png);


/* repair 1 */

position: absolute;
width: 51px;
height: 46px;
left: 29px;
top: 48px;

background: url(repair.png);


/* Edit Diagnosa */

position: absolute;
width: 264px;
height: 48px;
left: 492px;
top: 453px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;

color: #000000;



/* ID Diagnosa */

position: absolute;
width: 86px;
height: 18px;
left: 492px;
top: 589px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #000000;



/* Rectangle 3 */

position: absolute;
width: 959px;
height: 42px;
left: 492px;
top: 628px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 4 */

position: absolute;
width: 959px;
height: 42px;
left: 491px;
top: 904px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 6 */

position: absolute;
width: 959px;
height: 42px;
left: 492px;
top: 1013px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 7 */

position: absolute;
width: 959px;
height: 42px;
left: 491px;
top: 1129px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 5 */

position: absolute;
width: 959px;
height: 42px;
left: 492px;
top: 785px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Email Pendiagnosa */

position: absolute;
width: 136px;
height: 18px;
left: 497px;
top: 736px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #000000;



/* Email Pengguna */

position: absolute;
width: 115px;
height: 18px;
left: 499px;
top: 858px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #000000;



/* Penyakit */

position: absolute;
width: 62px;
height: 18px;
left: 503px;
top: 974px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #000000;



/* Gejala */

position: absolute;
width: 45px;
height: 18px;
left: 503px;
top: 1090px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #000000;

