/* Desktop - 1 */

position: relative;
width: 1920px;
height: 1322px;

background: #FFFFFF;


/* Rectangle 1 */

position: absolute;
width: 1550px;
height: 146px;
left: 370px;
top: 0px;

background: #4F3267;
border-radius: 5px;


/* Admin | Profile */

position: absolute;
width: 163px;
height: 28px;
left: 1620px;
top: 58px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 28px;
/* identical to box height */

color: #FFFFFF;



/* Google Pixel 2 - 5 */

position: absolute;
width: 370px;
height: 1332px;
left: 0px;
top: -10px;

background: #F3E3EC;


/* Penyakit */

position: absolute;
width: 102px;
height: 29px;
left: 45px;
top: 162px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* logout */

position: absolute;
width: 76px;
height: 29px;
left: 69px;
top: 1204px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* penanganan */

position: absolute;
width: 148px;
height: 30px;
left: 35px;
top: 261px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #808080;



/* gelaja */

position: absolute;
width: 72px;
height: 30px;
left: 36px;
top: 361px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #808080;



/* tingkat gejala */

position: absolute;
width: 161px;
height: 30px;
left: 36px;
top: 411px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #808080;



/* Daftar */

position: absolute;
width: 75px;
height: 30px;
left: 36px;
top: 211px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #808080;



/* Penyebab */

position: absolute;
width: 119px;
height: 30px;
left: 36px;
top: 311px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #808080;



/* logout 1 */

position: absolute;
width: 20px;
height: 20.65px;
left: 16px;
top: 1208px;

background: url(logout.png);


/* repair 1 */

position: absolute;
width: 51px;
height: 46px;
left: 29px;
top: 48px;

background: url(repair.png);


/* Daftar Pertanyaan */

position: absolute;
width: 348px;
height: 48px;
left: 491px;
top: 201px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;

color: #000000;



/* Pertanyaan */

position: absolute;
width: 82px;
height: 18px;
left: 490px;
top: 301px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #000000;



/* Rectangle 3 */

position: absolute;
width: 959px;
height: 42px;
left: 490px;
top: 351px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 5 */

position: absolute;
width: 959px;
height: 42px;
left: 490px;
top: 475px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Jawaban */

position: absolute;
width: 65px;
height: 18px;
left: 498px;
top: 425px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #000000;



/* Rectangle 8 */

position: absolute;
width: 166px;
height: 58px;
left: 490px;
top: 619px;

background: #9D78BE;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Kemaba */

position: absolute;
width: 46px;
height: 15px;
left: 535px;
top: 642px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #FFFFFF;

